.client-info-table {
  padding: 20px;
  margin-left: 107px;
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
  top: 100px;
}

.client-info-table::-webkit-scrollbar {
  display: none;
}

table {
  min-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

th,
td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
